header {
    min-height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*------------------------Action-BTN--------------------------*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*--------------------SOME Bar on left--------------------*/

.header__some {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    position: absolute;
    left: 0;
    margin-left: 1rem;
    padding: 1.2rem;
    border-radius: 60px;
    background: rgba(113, 142, 116, 0.2);
    backdrop-filter: blur(px);
}

.header__some a:hover {
    background: var(--color-bg);
    border-radius: 30%;
}

/* .header__some::after {
  content: "";
  width: 4px;
  height: 2rem;
  background: white;
} */

/*------------------Profile Pic --------------------*/

.profile-pic {
    background: linear-gradient(to right, #718e7459 0%, #1e2e2096 90%);
    width: 18rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    border-radius: 60px;
    overflow: hidden; /*
     Ensure the container clips the image properly */
}

.profile-pic img {
    width: 100%; /* Ensure the image takes up 100% width of the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 3rem;
}
/*-----------------------Media Queries Big---------------*/
@media screen and (min-width: 1024px) {
    header {
        height: 68vh;
    }
    .header__container {
        height: 100vh;
    }
    .profile-pic {
        margin-top: 8rem;
        padding: 4 2rem;
    }
}
/*-----------------------Media Queries Medium---------------*/
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
    .header__container {
        height: 100vh;
    }
}

/*-----------------------Media Queries Small---------------*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header__container {
        height: 100vh;
    }
    .header__some {
        display: none;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
